<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>

<!--Login Page-->
<main class="container">

    <!--Message Area-->

    <% if(messages.length > 0) {%>

        <div class='alert alert-danger'>

            <%= messages %>
        </div>

    <% } %>

    <div class="row">
        <div class="offest-md-4 col-md-6">
            <h1>Please Login</h1>
            <form method="Post" autocomplete ='off'>
                <fieldset class="for-group"><label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name='username' placeholder='Enter Username'
                    it='username' required autofocus>
                </fieldset>

                <fieldset class="for-group"><label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name='password' placeholder='Enter password'
                    it='password' required >
                    or
                    <a href='/register'>Register Here</a>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value='Login'>
                <a href='/' class='btn btn-warning'>
                    <i class='fas fa-undo'></i> &nbsp;Cancel
                </a>
                </fieldset>
            
            </form>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>